name: Release

on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: "Tipo de bump"
        type: choice
        options: [auto, major, minor, patch, none]
        default: "auto"
      rebuild:
        description: "Reconstruir desde cero"
        type: boolean
        default: true
  workflow_run:
    workflows: [Test Builds]
    types: [completed]
    branches: [main]

permissions:
  contents: write
  actions: read

jobs:
  release:
    uses: salem404/github-actions/.github/workflows/release.yml@main
    with:
      project-path: "."
      bump-type: ${{ github.event.inputs.bump-type }}
      rebuild: ${{ github.event.inputs.rebuild }}
    secrets:
      BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}